body{
    background: #cad80a;
    color:darkred;
}

section{
    background: white;
 
}

h1{
    color:gray;
}

p{
    color:brown;
}

h2{
    color: chartreuse;
}

h3{
    color: crimson;
}

footer{
    color: pink;
}


