body{
    background: #cad80a;
    color:darkred;
    box-sizing: border-box;
}

#main{
    margin:auto;
    width:1000px;
}

.navigation{
    background: #169636;
    padding: 16px;
    border-radius: 5px;
}

.navigation__link{
    color:white;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link--homepage{
    background: #9c0c0c;
}

.secondary-heading{
    padding: 16px;
    margin: 0;
}

.week-summary{
    border:1px solid #169636;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 16px;
    background:#42f06d;
}

.week-summary__title{
    color: #169636;
    margin: 0;
}

.week-summary__description{
    color: #68b8ec;
}

.header{
    margin: auto;
    position:sticky;
    top:0;
}